version: 2
updates:
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: monthly
    labels: [dependencies]
    commit-message:
      prefix: "feat(deps): "
      prefix-development: "chore(deps-dev): "
    versioning-strategy: increase-if-necessary
    groups:
      development-dependencies:
        dependency-type: development
      runtime-dependencies:
        dependency-type: production
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: monthly
    labels: [dependencies]
    commit-message:
      prefix: "ci: "
    groups:
      actions:
        patterns:
          - "*"
