[tool.poetry]
name = "meltano.edk"
version = "0.1.0"
description = "A framework for building Meltano extensions"
authors = ["Meltano Team and Contributors"]
maintainers = ["Meltano Team and Contributors"]
readme = "README.md"
homepage = "https://meltano.com"
repository = "https://github.com/meltano/edk"
keywords = [
    "Meltano",
    "Meltano Extension",
    "Meltano EDK"
]
classifiers = [
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Typing :: Typed",
]
license = "Apache 2.0"

packages = [
  { include = "meltano" }
]


[tool.poetry.urls]
"Issue Tracker" = "https://github.com/meltano/edk/issues"
"Twitter" = "https://twitter.com/meltanodata/"
"Changelog" = "https://github.com/meltano/edk/blob/main/CHANGELOG.md"
"Slack" = "https://meltano.com/slack"
"Youtube" = "https://www.youtube.com/meltano"



[tool.poetry.dependencies]
python = "<3.12,>=3.7"
structlog = "^21"
PyYAML = ">=6.0.0,<7"
pydantic = ">=1.9.0,<2"
devtools = ">=0.9.0,<1"

# Sphinx dependencies installed as optional 'docs' extras
# https://github.com/readthedocs/readthedocs.org/issues/4912#issuecomment-664002569
sphinx = {version = ">=4.5,<6.0", optional = true}
sphinx-rtd-theme = {version = ">=0.5.2,<1.2.0", optional = true}
sphinx-copybutton = {version = ">=0.3.1,<0.6.0", optional = true}
myst-parser = {version = ">=0.17.2,<0.19.0", optional = true}
sphinx-autobuild = {version = "^2021.3.14", optional = true}

[tool.poetry.extras]
docs = [
    "sphinx",
    "sphinx-rtd-theme",
    "sphinx-copybutton",
    "myst-parser",
    "sphinx-autobuild",
]

[tool.poetry.dev-dependencies]
mock = "^5.0.1"
pytest = "^7.2.1"
# Cookiecutter tests
mypy = "^0.991"
black = "^22.6"
darglint = "^1.8.0"
flake8 = "^3.9.0"
flake8-annotations = "^2.9.1"
flake8-docstrings = "^1.6.0"

[tool.poetry.group.dev.dependencies]
copier = "^6.2.0"
types-pyyaml = "^6.0.12.2"

[tool.isort]
profile = "black"
multi_line_output = 3 # Vertical Hanging Indent
src_paths = "meltano/edk"
known_first_party = ["meltano"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
